{
  "presets": [
    ["@babel/preset-env", { "targets": "> 0.25%, not dead" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma": "h" }] // Ensure JSX is transpiled for Preact
  ]
}
